{% extends 'base.html' %}
{% block title %}Pkato |Search {% endblock title %}
{% block css %}
<style>
    #home #container-1 {
        display: flex;
        justify-content: center;
    }

    #home #container-1 input {
        outline: 0px solid transparent;
        border: none;
        border-bottom: 1px solid black;
        width: 100%;
        margin-right: 16px;
    }
    #home #container-1 form{
        width: 80%;
        display: flex;
    }

    .product-pic {
        width: 100%;
        max-height: 200px;
    }

    .product-pic img {
        padding: 4px;
        width: 100%;
        max-height: 200px;
    }

    #home .card {
        font-size: 0.8rem;
        max-width: 230px;
        height: 380px;
        margin: 4px 4px;
        width: 205px;
    }

    #home .card .card-body {
        height: 200px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        padding: 15px 4px;
    }

    #home #dropdown ul input,
    #home #dropdown ul label {
        cursor: pointer;
    }
    </style>
{% endblock css %}
{% block body %}
<section id="home">
    <h5 style="border-bottom: 1px solid red; width:90%;margin: 30px auto;">Search Results..</h5>
    <div class="container" id="container-1">
        <form action="{% url 'search:home' %}" method="get">
            <input type="text" name="searchText" placeholder="Search Products..">
            <button type="submit" class="btn btn-danger">Search</button>
        </form>
    </div>
    <hr>
    <div class="container">
        <div id="featured-content" class="d-flex align-items-center justify-content-center flex-wrap mt-2">
        {% for items in allProd %}
            <div class="card">
                <div class="product-pic">
                    <img src="/media/{{items.Picture}}" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{items.Title|truncatechars:30}}</h5>
                    <hr style="width: 100%;margin: 0;margin:10px;">
                    <div class="d-flex justify-content-evenly align-content-center w-100">
                    <form class="wishItem{{items.id}}" onsubmit="addWishSubmit({{items.id}})" action="" method="post">{% csrf_token %}
                        <input type="hidden" name="product{{items.id}}" value="{{items.id}}">
                        <button style="border: none;background: none;font-size: 16px;" type="submit"><i class="fa fa-heart-o my-1 cursor-pointer"></i></button>
                    </form>
                    <b>Rs.{{items.Price}}/Only</b>
                    </div>
                    <hr style="width: 100%;margin: 0;margin:10px;">
                    <div class="d-flex">
                    <form  method="get" action="{% url 'Ecommerce:productview' %}">
                        <input type="hidden" name="product" value="{{items.id}}">
                        <button type='submit' class="btn btn-danger btn-sm mx-1">Quick View</button>
                    </form>
                    <form class="cartItem{{items.id}}" onsubmit="addCartSubmit({{items.id}})" action="">{% csrf_token %}
                        <input type="hidden" name="product{{items.id}}" value="{{items.id}}">
                        <button type='submit' class="btn btn-danger btn-sm mx-1">Add to Cart</button>
                    </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
<div style="height: 60vh;"></div>

{% endblock body %}
{% block js %}{% endblock js %}