{% extends 'base.html' %}
{% block css %}
<style>
    /* Home Starts */
    #home #container-1 {
        display: flex;
        justify-content: center;
    }

    #home #container-1 input {
        outline: 0px solid transparent;
        border: none;
        border-bottom: 1px solid black;
        width: 100%;
        margin-right: 16px;
    }
    #home #container-1 form{
        width: 80%;
        display: flex;
    }

    .product-pic {
        width: 100%;
        max-height: 200px;
    }

    .product-pic img {
        padding: 4px;
        width: 100%;
        max-height: 200px;
    }

    #home .card {
        font-size: 0.8rem;
        max-width: 230px;
        height: 380px;
        margin: 4px 4px;
        width: 205px;
    }

    #home .card .card-body {
        height: 200px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        padding: 15px 4px;
    }

    #home #dropdown ul input,
    #home #dropdown ul label {
        cursor: pointer;
    }
    .cursor-pointer{
        cursor: pointer;
    }


    /* Home Ends */
</style>
{% endblock css %}
{% block body %}
<section id="home">
    <h5 style="border-bottom: 1px solid red; width:90%;margin: 30px auto;">All Products..</h5>
    <div class="container" id="container-1">
        <form action="{% url 'search:home' %}" method="get">
            <input type="text" name="searchText" placeholder="Search Products..">
            <button type="submit" class="btn btn-danger">Search</button>
        </form>
    </div>
    <hr>
    <div class="container">
        <div id="featured-content" class="d-flex align-items-center justify-content-center flex-wrap mt-2">
            {% for items in allProd|slice:"25" %}
                <div class="card">
                    <div class="product-pic">
                        <img src="/media/{{items.Picture}}" class="card-img-top" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{items.Title|truncatechars:30}}</h5>
                        <hr style="width: 100%;margin: 0;margin:10px;">
                        <div class="d-flex justify-content-evenly align-content-center w-100">
                        <form class="wishItem{{items.id}}" onsubmit="addWishSubmit({{items.id}})" action="" method="post">{% csrf_token %}
                            <input type="hidden" name="product{{items.id}}" value="{{items.id}}">
                            <button style="border: none;background: none;font-size: 16px;" type="submit"><i class="fa fa-heart-o my-1 cursor-pointer"></i></button>
                        </form>
                        <b>Rs.{{items.Price}}/Only</b>
                        </div>
                        <hr style="width: 100%;margin: 0;margin:10px;">
                        <div class="d-flex">
                        <form  method="get" action="{% url 'Ecommerce:productview' %}">
                            <input type="hidden" name="product" value="{{items.id}}">
                            <button type='submit' class="btn btn-danger btn-sm mx-1">Quick View</button>
                        </form>
                        <form class="cartItem{{items.id}}" onsubmit="addCartSubmit({{items.id}})" action="">{% csrf_token %}
                            <input type="hidden" name="product{{items.id}}" value="{{items.id}}">
                            <button type='submit' class="btn btn-danger btn-sm mx-1">Add to Cart</button>
                        </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock body %}
{% block js %}
<script>
{% for items in allProd %}
        wishItem = document.getElementsByClassName("wishItem{{items.id}}")
        cartItem = document.getElementsByClassName("cartItem{{items.id}}")
        {% if user.is_authenticated %}
        {% for wishes in wishlist %}
            if ({{wishes.Wish_List}}=={{items.id}}){
            str = `<input type="hidden" name="product{{items.id}}" value="{{items.id}}">
                    <button style="border: none;background: none;font-size: 16px;" type="submit" ><i class="fa fa-heart my-1 cursor-pointer"></i></button>`
                for(i=0;i < wishItem.length ;i++){
                    wishItem[i].innerHTML = str
                }
            }
        {% endfor %}
        {% for cart in cartlist %}
            if ({{cart.Cart}}=={{items.id}}){
            str = `<i class="fa fa-check-square-o mt-1 mx-2" style="font-size:25px;color:green;"></i>`
                for(i=0;i < cartItem.length ;i++){
                    cartItem[i].innerHTML = str
                }
            }
        {% endfor %}
        {% else %}
        if (localStorage.getItem("Pkato:Cart") != null ){
            cartStr = localStorage.getItem("Pkato:Cart")
            cartArray = JSON.parse(cartStr)
            for (let items = 0; items < cartArray.length; items++) {
                const element = cartArray[items];
                if (cartArray[items]=={{items.id}}){
                    str = `<i class="fa fa-check-square-o mt-1 mx-2" style="font-size:25px;color:green;"></i>`
                    for(i=0;i < cartItem.length ;i++){
                        cartItem[i].innerHTML = str
                    }
                }
            }
            
        }
        else{
            cart = []
            localStorage.setItem("Pkato:Cart",JSON.stringify(cart))
        }
        if (localStorage.getItem("Pkato:WishList") != null ){
            wishStr = localStorage.getItem("Pkato:WishList")
            wishArray = JSON.parse(wishStr)
            for (let items = 0; items < wishArray.length; items++) {
                const element = wishArray[items];
                if (wishArray[items]=={{items.id}}){
                    str = `<input type="hidden" name="product{{items.id}}" value="{{items.id}}">
                        <button style="border: none;background: none;font-size: 16px;" type="submit"><i class="fa fa-heart my-1 cursor-pointer"></i></button>`
                    for(i=0;i < wishItem.length ;i++){
                        wishItem[i].innerHTML = str
                    }
                }
            }

        }
        else{
            wish = []
            localStorage.setItem("Pkato:WishList",JSON.stringify(wish))
        }

        {% endif %}
    {% endfor %}
</script>

{% endblock js %}